.game-page {
     display: flex;
     height: 100vh;
     width: 100vw;
     justify-content: space-between;
     align-items: center;
   }

/* Contenedor del tablero */
.board-container {
     display: grid;
     grid-template-columns: repeat(6, 0fr);  /* 6 columnas */
     grid-template-rows: repeat(6, 0fr);     /* 6 filas */
     gap: 16px;  /* Espacio entre las fichas */
     width: 80vw;
     height: 80vh;
     position: relative;
     top: 10vh;
     left: 53vh;
     margin: 0 auto;
   }
   
   /* Contenedor de las fichas */
   .tokens-container {
     position: absolute;
     width: 100%;
     height: 100%;
     pointer-events: none;  /* Para evitar que las fichas bloqueen clics */
   }
   
   /* Cada ficha */
   .token {
     width: 66px;  /* Ajusta el tamaño según corresponda */
     height: 66px;
     border-radius: 0%; 
   }
   
   /* Colores de las fichas */
   .token.red {
     background-image: url('./src/designs/A.svg');
}
   
   .token.blue {
     background-image: url('./src/designs/D.svg');
   }
   
   .token.green {
     background-image: url('./src/designs/C.svg');
   }
   
   .token.yellow {
     background-image: url('./src/designs/B.svg');
   }
   
   /* Botón para abandonar la partida */
   .leave-button {
     position: absolute;
     top: 5%;
     right: 5%;
     background-color: rgba(255, 255, 255, 0.851);
     border: 0px solid #ffffffd4;
     padding: 15px 25px;
     font-size: 25px;
     color:#a1a1a1;
     font-family:Arial, Helvetica, sans-serif;
     cursor: pointer;
     transition: transform 0.3s, background-color 0.3s;
     border-radius: 20px;
   }
   
   .leave-button:hover {
     transform: translateY(-3px);
     background-color: #a1a1a1f3;
     color: white;
   }

    /* Botón para iniciar la partida */
    .start-game-button {
      position: absolute;
      top: 5%;
      left: 5%;
      background-color: rgba(255, 255, 255, 0.851);
      border: 0px solid #ffffffd4;
      padding: 15px 25px;
      font-size: 25px;
      color:#a1a1a1;
      font-family:Arial, Helvetica, sans-serif;
      cursor: pointer;
      transition: transform 0.3s, background-color 0.3s;
      border-radius: 20px;
    }
    
    .start-game-button:hover {
      transform: translateY(-3px);
      background-color: #a1a1a1f3;
      color: white;
    }

   .turno-finalizado {
     position: absolute;
     width: 150px;
     bottom: 3%;
     right: 2%;
     background-color: rgba(255, 255, 255, 0.851);
     border: 0px solid #ffffffd4;
     padding: 30px 25px;
     font-size: 25px;
     color:#a1a1a1;
     font-family:Arial, Helvetica, sans-serif;
     cursor: pointer;
     transition: transform 0.3s, background-color 0.3s;
     border-radius: 20px;
   }
   
   .turno-finalizado:hover {
     transform: translateY(-3px);
     background-color: #a1a1a1ec;
     color: white;
   }
   
   
   /* Posicionar cartas alrededor del tablero */
   
   /* Cartas en la izquierda */
   .card-left {
     position: absolute;
     top: 20%;       /* Alineado en la parte superior */
     left: 9.5%;       /* Pegado al lado izquierdo */
     display: flex;
     flex-direction: column;  /* Para organizar las cartas en columna */
     gap: 45px;      /* Espacio entre las cartas */
   }
   .card-leftdata {
     background-color: rgba(255, 255, 255, 0.8);
     padding: 20px;
     border-radius: 10px;
     text-align: center;
     width: 104px;
     height: 70px;
   }
   /* Cartas en la derecha */
   .card-right {
     position: absolute;
     top: 20%;       /* Alineado en la parte superior */
     right: 11%;      /* Pegado al lado derecho */
     display: flex;
     flex-direction: column;
     gap: 45px;
   }
   
   .card-rightdata {
     background-color: rgba(255, 255, 255, 0.8);
     padding: 20px;
     border-radius: 10px;
     text-align: center;
     width: 104px;
     height: 70px;
   }
   /* Cartas en la parte superior */
   .card-top {
     position: absolute;
     top: 0%;        /* Cercano a la parte superior */
     left: 35%;      /* Alineado al centro */
     display: flex;
     gap: 60px;      /* Espacio entre las cartas */
   }
   .card-topdata {
     background-color: rgba(255, 255, 255, 0.8);
     padding: 20px;
     border-radius: 10px;
     text-align: center;
     width: 70px;
     height: 98px;
   }
   
   /* Cartas en la parte inferior */
   .card-bottom {
     position: absolute;
     bottom: 0%;     /* Cercano a la parte inferior */
     left: 37.5%;      /* Alineado al centro */
     display: flex;
     gap: 58px;
   }
   
   .card-bottomdata {
     background-color: rgba(255, 255, 255, 0.8);
     padding: 20px;
     border-radius: 10px;
     text-align: center;
     width: 70px;
     height: 92px;
   }
   .card-bottommove {
     position: absolute;
     bottom: 0%;     /* Cercano a la parte inferior */
     left: 75%;      /* Alineado al centro */
     display: flex;
     gap: 58px;
   }
   .card-movedata {
     background-color: rgba(255, 255, 255, 0.8);
     padding: 20px;
     border-radius: 10px;
     text-align: center;
     width: 109px;
     height: 140px;
   }


   /* Carta de movimiento al lado de las cartas en la parte inferior */
   .card-bottom .card:last-child {
     margin-left: 20px; /* Espacio extra para la carta de movimiento */
   }

   .info-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 300px; /* Ajusta según necesites */
     padding: 20px;
   }

   .turn-info {
     position: relative;
     top: 40vh;
     right: 120vh;
     background-color: rgba(255, 255, 255, 0.84); /* Fondo translúcido */
     padding: 10px 10px;
     width: 310px;
     border-radius: 10px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
     text-align: center;
     font-size: 18px;
   }

   .turn-info1 {
     position: relative;
     bottom: 0%;
     left: 4%;
     background-color: rgba(255, 255, 255, 0); /* Fondo translúcido */
     padding: 10px 10px;
     width: 310px;
     border-radius: 10px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
     text-align: center;
     font-size: 18px;
   }

   .turn-info2 {
     position: absolute;
     bottom: 5%;
     left: 4%;
     background-color: rgba(255, 255, 255, 0); /* Fondo translúcido */
     padding: 10px 10px;
     width: 310px;
     border-radius: 10px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
     text-align: center;
     font-size: 18px;
   }

   .turn-info p {
     margin: 0px 0 0;
     font-size: 20px;
     color: #666;
   }
   .turn-info p2 {
     margin: 0px 0 0;
     font-size: 20px;
     color: #666;
   }
   .turn-info p3 {
     margin: 0px 0 0;
     font-size: 20px;
     color: #666;
   }